h1{
    color: green
}

/* for id  we use # */

#heading {
    color: blue;
}

#paral {
    color: yellow;
}

/* select by class */

.heading2 {
    color: red;
    font-weight: bold;   /*boldness of text */
}

/* sudo */
a:hover {
    color: greenyellow;
    font-weight: 600;
}